[submodule "ghidra-upstream"]
	path = ghidra/upstream
	url = https://github.com/NationalSecurityAgency/ghidra.git
[submodule "ghidra/ext-cpp-class-analyzer"]
	path = ghidra/ext-cpp-class-analyzer
	url = https://github.com/astrelsky/Ghidra-Cpp-Class-Analyzer
	branch = experimental
[submodule "ghidra/ext-ret-sync"]
	path = ghidra/ext-ret-sync
	url = https://github.com/garyttierney/ret-sync.git
[submodule "ghidra/ext-orbis"]
	path = ghidra/ext-orbis
	url = https://github.com/astrelsky/GhidraOrbis
